name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

  build:
    name: Build & Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Type Check
        run: bun x tsc --noEmit

      - name: Build
        run: bun run build

      - name: Check Runtime Agnostic
        run: |
          if grep -rE "from ['\"]node:" src/ --include="*.ts"; then
            echo "The library must be runtime-agnostic. Use WHATWG APIs instead."
            exit 1
          fi

  test:
    name: Run test runner
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout Test Files
        uses: actions/checkout@v4
        with:
          repository: c2pa-org/public-testfiles
          path: ./tests/fixtures/public-testfiles

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Run Tests
        run: bun test --reporter=junit --reporter-outfile=junit-report.xml

      - name: Generate CTRF Report
        run: bun x junit-to-ctrf junit-report.xml -o ctrf-report.json
        if: always()

      - name: Generate CTRF annotations
        run: bun x github-actions-ctrf ctrf-report.json
        if: always()
